*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div{
width: 50vw;
height: 400px;
border: 2px solid rgb(148, 137, 137);
border-radius: 30px;
font-size: 1.2em;
background-color: rgba(145, 168, 189, 0.753);
box-shadow: 0 5px 30px gray;
backdrop-filter: blur(8px);
margin: 40px 20%;
padding: 30px 5%;
}
h1:hover{
    animation: glitch .25s ease-out;
}

@keyframes glitch{
    0%{
        transform: translateX(0);
        text-shadow:
                0.1em 0 0 blue,
                -0.05em 0 0 red,
                -0.1em 0 0 yellow,
                -0.2em 0 0 green;
    }
    20%{
        transform: translateX(-0.1em);
        text-shadow:
            0.2em 0 0 blue,
            -0.1em 0 0 red,
            -0.1em 0 0 yellow,
            -0.05em 0 0 green;
}
    
    40%{
        transform: translateX(0.05em);
        text-shadow:
            0.1em 0 0 blue,
            -0.05em 0 0 red,
            -0.1em 0 0 yellow,
            -0.2em 0 0 green;
}
    
    60%{
        transform: translateX(-0.1em);
        text-shadow:
            0.2em 0 0 blue,
            -0.1em 0 0 red,
            0.1em 0 0 yellow,
            -0.05em 0 0 green;
}
    
    80%{
        transform: translateX(0.05em);
        text-shadow:
            0.2em 0 0 blue,
            -0.05em 0 0 red,
            -0.1em 0 0 yellow,
            -0.2em 0 0 green;
}
    
}