*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact_us{
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    display: flex;
   

}
.contact-form{
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#form input{
    width: 300px;
    height: 30px;
    margin-bottom: 14px;
    display: flex;
}

.contact-image{
    background: #5FC3CA;
    

}
label{
    font-family: 'Happy Monkey';
    color: #5FC3CA;
}
#form input{
    background: #F4F4F4;
    border-bottom: 2px solid #5FC3CA;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Happy Monkey';
}
#massage{
    width: 300px;
    font-family: 'Happy Monkey';
    resize: none;
    background: #F4F4F4;
    border-radius: 5px 5px 0px 0px;
}
h2{
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

color: #000000;
}
p{
    padding-bottom:40px;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
a{
    color: #5FC3CA;
}
.sub #sub{
    margin: 33px auto;
    width: 140px;
    background: #5FC3CA;
    border-radius: 10px;
    color: #ffffff;
    
}